<!DOCTYPE html>
<html>
<head>
  <title>Resume - <%= resume.name %></title>
  <style>
    /* CSS styles here */

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f5f5f5;
    }

    .header {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;
    }

    .name {
      font-size: 28px;
      margin: 0;
    }

    .job-title {
      font-size: 14px;
      margin: 0;
      text-align: center;
    }

    .personal-info {
      font-size: 16px;
      text-align: center;
      margin-top: 0;
    }

    .section {
      display: flex;
      margin-bottom: 20px;
    }

    .section-content {
      flex-grow: 1;
      padding-right: 20px;
    }

    .sidebar {
      flex-shrink: 0;
      width: 400px;
      padding-left: 20px;
      border-left: 1px solid #ccc;
      margin-left: 25%;
    }

    h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }

    h3 {
      color: #333;
      font-size: 20px;
      margin-bottom: 8px;
    }

    h4 {
      color: #333;
      font-size: 18px;
      margin-bottom: 6px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      margin-bottom: 4px;
    }

    .tech-skills {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    .tech-skill {
      margin-right: 10px;
    }

    .education {
      font-size: 14px;
    }
    .certifications {
      font-size: 14px;
    }
    .languages {
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="header">
    <h1 class="name"><%= resume.name %></h1>
    <p class="job-title"><%= resume.description %></p>
    <p class="job-title"><%= resume.email %></p>
    <p class="job-title"><%= resume.address %></p>    
  </div>

  <div class="section">
    <div class="section-content">
      <h2><%= resume.title %></h2>
      <p><%= resume.summary %></p>

      <% if (resume.techSkills && resume.techSkills.length > 0) { %>
        <h3>Tech Skills</h3>
        <div class="tech-skills">
          <% resume.techSkills.forEach((skill) => { %>
            <div class="tech-skill"><%= skill + ","  %></div>
          <% }); %>
        </div>
      <% } %>

      <h3>Experience</h3>
      <% resume.experience.forEach((job) => { %>
        <h4><%= job.position %>, <%= job.company %></h4>
        <p><%= job.duration %></p>
        <p><%= job.responsibilities %></p>
      <% }); %>
    </div>

      <div class="sidebar">
        <div class="education">
          <h3>Education</h3>
          <ul>
            <% resume.education.forEach((edu) => { %>
            <li><%= edu.degree %>, <%= edu.institution%>, <%= edu.graduationYear %></li>         
          </ul>
        <% }); %>
        </div>      
      
        <div class="certifications">
          <% if (resume.certifications && resume.certifications.length > 0) { %>
            <h3>Certifications</h3>
            <ul>
              <% resume.certifications.forEach((cert) => { %>
                <li><%= cert.vendor %> - <%= cert.issued %> </li>            
                <% if (cert.expiration) { %>
                  <p><%= cert.expiration %></p>
                <% } %>
              <% }); %>
            </ul>
          <% } %>
        </div>


      <h3>Languages</h3>
      <ul>
        <% resume.languages.forEach((language) => { %>
          <li><%= language.language %> - <%= language.proficiency %></li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
